<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilheteria de cinema</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-light" style="background-color: rgb(107, 102, 102); padding: 0 20px; height: 60px;">
        <a class="navbar-brand" href="#">
            <img src="img/cinema.webp" width="30" height="30" class="d-inline-block align-top" alt="">
            Cine Pipoca
        </a>
    </nav>

    <form style="margin-top: 30px; margin-left: 100px;">
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
            <div class="col-md-4 col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group row" style="margin-top: 10px;">
            <label for="inputPassword3" class="col-sm-2 col-form-label">Senha</label>
            <div class="col-md-4 col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <fieldset class="form-group" style="margin-top: 10px;">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Funcionário</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                        <label class="form-check-label" for="gridRadios1">
                            Atendente
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Gerente
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="button" class="btn btn-primary" id="confirmButton">Confirmar</button>
                </div>
            </div>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            var emailInput = document.getElementById("inputEmail3");
            var confirmButton = document.getElementById("confirmButton");

            confirmButton.addEventListener("click", function (event) {
                event.preventDefault();

                var emailValue = emailInput.value.trim(); // Obtem o valor do campo e remove espaços em branco extras

                if (emailValue === "") {
                    alert("Por favor, insira um e-mail.");
                    return;
                }

                if (!isValidEmail(emailValue)) {
                    alert("Por favor, insira um e-mail válido.");
                    return;
                }

                // Se o e-mail é válido, continue com a ação de login
                var atendenteCheckbox = document.getElementById("gridRadios1");
                var gerenteCheckbox = document.getElementById("gridRadios2");

                if (atendenteCheckbox.checked) {
                    var confirmed = confirm("Tem certeza que deseja entrar como Atendente?");
                    if (confirmed) {
                        window.location.href = "atendente";
                    }
                } else if (gerenteCheckbox.checked) {
                    var confirmed = confirm("Tem certeza que deseja entrar como Gerente?");
                    if (confirmed) {
                        window.location.href = "gerente";
                    }
                }
            });

            // Função para verificar o formato do e-mail
            function isValidEmail(email) {
                var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                return emailRegex.test(email);
            }
        });
    </script>
</body>

</html>